<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qaiser.hyra.tasbeehtcounter">


    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.PREVENT_POWER_KEY" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.TELEPHONY_MANAGER" />




    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity android:name="com.qaiser.hyra.tasbeehtcounter.MaineMenu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name="com.qaiser.hyra.tasbeehtcounter.ManualTasbeeh" />
        <activity
            android:name="com.qaiser.hyra.tasbeehtcounter.HistoryView"
            android:gravity="right"
            android:supportsRtl="true" />
        <activity android:name="com.qaiser.hyra.tasbeehtcounter.MainActivity"



            />


        <service
            android:name="com.qaiser.hyra.tasbeehtcounter.VoiceService"
            android:enabled="true"
            android:exported="true"
            android:configChanges="locale">
        </service>
        <activity android:name="com.qaiser.hyra.tasbeehtcounter.Resume" />
        <activity android:name="com.qaiser.hyra.tasbeehtcounter.wazeefa"></activity>

        <service
            android:name=".MyKeyboard"
            android:label="@string/my_keyboard"
            android:permission="android.permission.BIND_INPUT_METHOD"
            >

            <meta-data android:name="android.view.im"
                android:resource="@xml/method" />

            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
        </service>
    </application>

</manifest>